<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HotelConnection"
			 connectionString="Data Source=LAPTOP-PFVOFNPE;Initial Catalog=Hotel;User ID=LAPTOP-PFVOFNPE\IBryc;Encrypt=True;TrustServerCertificate=True;MultiSubnetFailover=True;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>